.product-example-wrapper {
    width: 205px;
    margin-left: 150px;
}

.product-example-wrapper:first-of-type {
    margin: 0;
}

.img-wood-wrapper {
    height: 205px;
    width: 205px;
}

.wood-img {
    size: auto;
}

.name-wrapper {
    margin-top: 40px;
    text-align: center;
}

.main-charcs {
    text-align: center;
    margin-top: 20px;
}